<a href="https://colab.research.google.com/github/devansh2604/my-first-reposit/blob/main/assignment1(mini%20project%20practise).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
l=[11,12,13,14]
l.append(60)
l.append(50)
del l[0],l[2]
print(l)
l.sort()
print(l)
print(l[::-1])
for i in range(0,len(l)):
  if l[i]==13:
   print(f"13 found at {i}")
  else:
   continue
print(len(l))
sum=0
summ=0
for i in l:
  if summ%2==0:
   summ=summ+i
  else:
   sum=sum+i

print(summ)
print(sum)
print(sum+summ)
print(l)
#write a programe to id prime in list

l.clear()
print(l)
del l
del sum
del summ

[12, 13, 60, 50]
[12, 13, 50, 60]
[60, 50, 13, 12]
13 found at 1
4
25
110
135
[12, 13, 50, 60]
[]

In [1]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8] = 8.8        # Adds a new key-value pair: 8:8.8
del D[2]          # Deletes the key 2
print(6 in D)
print(len(D))     # Checks if key 6 exists in the dictionary     # Number of key-value pairs
print(sum(D.values()))  # Sum of all values
del D

False
5
37.4

In [9]:
s1={10,20,30,40,50,60}
s2={40,50,60,70,80,90}
s1.add(55)
s2.add(66)
s1.remove(10)
s1.remove(30)
print(40 in s1)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1-s2)

True
{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{20, 55}

In [30]:
import random as r
import string as s
print(s.ascii_letters)
a=r.sample(s.ascii_letters,6)
aa="".join(a)
a1=r.sample(s.ascii_letters,7)
a1a="".join(a1)
a2=r.sample(s.ascii_letters,8)
a2a="".join(a2)
z=r.choice([aa,a1a,a2a])
print(z)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
rfCLPvha

In [40]:
#600 and 800
l1=[]
l2=[]
for k in range(600,801):
  for i in range(2,k):
    if k%i==0:
     a=1
     break
    else:
     a=0
  if a==1:
   l1.append(k)
  else:
   l2.append(k)

print("not prime",l1)
print("prime",l2)

not prime [600, 602, 603, 604, 605, 606, 608, 609, 610, 611, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 649, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 702, 703, 704, 705, 706, 707, 708, 710, 711, 712, 713, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 731, 732, 734, 735, 736, 737, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 767, 768, 770, 771, 772, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 793, 794, 795, 796, 798, 799, 800]
prime [601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

In [41]:
for n in range(101,1000):
  if n%7==0 and n%9==0:
    print(f"{n}")
  else:
    continue

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [58]:
import random as r
import string as s

l1=r.sample(range(11,31),10)
l2=r.sample(range(11,31),10)
print(l1)
print(l2)
s1=set(l1)
s2=set(l2)
common=s1.intersection(s2)
common=list(common)
print(common)
uniqueinl1=s1-s2
uniqueinl2=s2-s1
uniqueinl1=list(uniqueinl1)
uniqueinl2=list(uniqueinl2)
print(uniqueinl1)
print(uniqueinl2)
print(max(l1))
print(max(l2))
print(sum(l1+l2))

[13, 26, 30, 21, 20, 17, 15, 12, 14, 19]
[25, 18, 20, 11, 12, 30, 26, 13, 29, 28]
[12, 13, 20, 26, 30]
[14, 15, 17, 19, 21]
[11, 18, 25, 28, 29]
30
30
399

In [68]:
import random as r
import string as s
l=[]
for i in range(101,900):
  l.append(i)
a=r.sample(l,100)
print(a)
for i in a:
  if i%2==0:
    print(f"{i} is even")
  else:
    print(f"{i} is odd")

[584, 527, 459, 460, 662, 159, 326, 777, 286, 713, 365, 672, 728, 402, 529, 262, 430, 303, 246, 299, 763, 607, 144, 377, 885, 238, 569, 347, 488, 617, 193, 183, 476, 442, 464, 645, 440, 512, 564, 884, 558, 704, 673, 542, 466, 415, 625, 784, 604, 378, 456, 817, 399, 887, 681, 877, 507, 493, 516, 463, 682, 865, 253, 833, 896, 483, 757, 764, 427, 566, 827, 856, 177, 562, 382, 841, 131, 203, 568, 873, 359, 840, 726, 353, 815, 848, 614, 170, 571, 247, 813, 788, 760, 432, 811, 613, 496, 118, 425, 787]
584 is even
527 is odd
459 is odd
460 is even
662 is even
159 is odd
326 is even
777 is odd
286 is even
713 is odd
365 is odd
672 is even
728 is even
402 is even
529 is odd
262 is even
430 is even
303 is odd
246 is even
299 is odd
763 is odd
607 is odd
144 is even
377 is odd
885 is odd
238 is even
569 is odd
347 is odd
488 is even
617 is odd
193 is odd
183 is odd
476 is even
442 is even
464 is even
645 is odd
440 is even
512 is even
564 is even
884 is even
558 is even
704 is even
673 is odd
542 is even
466 is even
415 is odd
625 is odd
784 is even
604 is even
378 is even
456 is even
817 is odd
399 is odd
887 is odd
681 is odd
877 is odd
507 is odd
493 is odd
516 is even
463 is odd
682 is even
865 is odd
253 is odd
833 is odd
896 is even
483 is odd
757 is odd
764 is even
427 is odd
566 is even
827 is odd
856 is even
177 is odd
562 is even
382 is even
841 is odd
131 is odd
203 is odd
568 is even
873 is odd
359 is odd
840 is even
726 is even
353 is odd
815 is odd
848 is even
614 is even
170 is even
571 is odd
247 is odd
813 is odd
788 is even
760 is even
432 is even
811 is odd
613 is odd
496 is even
118 is even
425 is odd
787 is odd

In [77]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
f=open("devansh.txt","w")
for keys,values in D.items():
  f.write(f"{keys},{values}\n")
f.close()

In [87]:
L = ["One", "Two", "Three", "Four", "Five"]
f=open("dd.txt","w")
for i in L:
    f.write(f"{i}, {len(i)}")
f.close

In [92]:
import random as r
import string as s
print(s.ascii_letters)
a=r.sample(s.ascii_letters,11)
aa="".join(a)
a1=r.sample(s.ascii_letters,12)
a1a="".join(a1)
a2=r.sample(s.ascii_letters,13)
a2a="".join(a2)
a09=r.sample(s.ascii_letters,14)
a099="".join(a09)

for i in range(1,101):
  print(r.choice([aa,a1a,a2a,a099])
)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
yquroThSNKDL
qGQDpdPjbomnc
yquroThSNKDL
qGQDpdPjbomnc
siFDTrMKgzJ
DxOqZrTWfbHspU
DxOqZrTWfbHspU
qGQDpdPjbomnc
qGQDpdPjbomnc
DxOqZrTWfbHspU
siFDTrMKgzJ
qGQDpdPjbomnc
yquroThSNKDL
DxOqZrTWfbHspU
DxOqZrTWfbHspU
siFDTrMKgzJ
DxOqZrTWfbHspU
qGQDpdPjbomnc
DxOqZrTWfbHspU
DxOqZrTWfbHspU
DxOqZrTWfbHspU
qGQDpdPjbomnc
yquroThSNKDL
yquroThSNKDL
siFDTrMKgzJ
siFDTrMKgzJ
yquroThSNKDL
siFDTrMKgzJ
DxOqZrTWfbHspU
DxOqZrTWfbHspU
DxOqZrTWfbHspU
DxOqZrTWfbHspU
siFDTrMKgzJ
siFDTrMKgzJ
siFDTrMKgzJ
siFDTrMKgzJ
DxOqZrTWfbHspU
yquroThSNKDL
DxOqZrTWfbHspU
yquroThSNKDL
yquroThSNKDL
yquroThSNKDL
yquroThSNKDL
siFDTrMKgzJ
yquroThSNKDL
DxOqZrTWfbHspU
yquroThSNKDL
siFDTrMKgzJ
yquroThSNKDL
siFDTrMKgzJ
yquroThSNKDL
siFDTrMKgzJ
DxOqZrTWfbHspU
DxOqZrTWfbHspU
siFDTrMKgzJ
yquroThSNKDL
DxOqZrTWfbHspU
siFDTrMKgzJ
yquroThSNKDL
DxOqZrTWfbHspU
qGQDpdPjbomnc
DxOqZrTWfbHspU
DxOqZrTWfbHspU
DxOqZrTWfbHspU
yquroThSNKDL
qGQDpdPjbomnc
DxOqZrTWfbHspU
yquroThSNKDL
yquroThSNKDL
DxOqZrTWfbHspU
siFDTrMKgzJ
yquroThSNKDL
qGQDpdPjbomnc
yquroThSNKDL
qGQDpdPjbomnc
qGQDpdPjbomnc
DxOqZrTWfbHspU
yquroThSNKDL
qGQDpdPjbomnc
qGQDpdPjbomnc
siFDTrMKgzJ
DxOqZrTWfbHspU
qGQDpdPjbomnc
DxOqZrTWfbHspU
yquroThSNKDL
yquroThSNKDL
DxOqZrTWfbHspU
qGQDpdPjbomnc
DxOqZrTWfbHspU
qGQDpdPjbomnc
yquroThSNKDL
DxOqZrTWfbHspU
DxOqZrTWfbHspU
yquroThSNKDL
yquroThSNKDL
DxOqZrTWfbHspU
DxOqZrTWfbHspU
DxOqZrTWfbHspU
qGQDpdPjbomnc
qGQDpdPjbomnc

In [93]:
l1=[]
l2=[]
for k in range(600,801):
  for i in range(2,k):
    if k%i==0:
     a=1
     break
    else:
     a=0
  if a==1:
   l1.append(k)
  else:
   l2.append(k)

print("not prime",l1)
print("prime",l2)

not prime [600, 602, 603, 604, 605, 606, 608, 609, 610, 611, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 649, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 702, 703, 704, 705, 706, 707, 708, 710, 711, 712, 713, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 731, 732, 734, 735, 736, 737, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 767, 768, 770, 771, 772, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 793, 794, 795, 796, 798, 799, 800]
prime [601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

In [ ]:
import time

start_time = time.time()


for i in range(1000000):
    pass

end_time = time.time()


print("Time taken:", end_time - start_time, "seconds")

In [ ]:
import time
import random
import matplotlib.pyplot as plt

sizes = [5000, 10000, 15000, 20000, 25000]
times = []

for size in sizes:
    data = [random.randint(1, 100000) for _ in range(size)]  # Generate random list
    start = time.time()
    sorted_data = sorted(data)
    end = time.time()
    duration = end - start
    times.append(duration)
    print(f"Time to sort {size} elements: {duration:.5f} seconds")

# Plotting
plt.plot(sizes, times, marker='o')
plt.title("List Sorting Time")
plt.xlabel("Number of Elements")
plt.ylabel("Time Taken (seconds)")
plt.grid(True)
plt.show()

In [ ]:
students = {
    "Alice": [85, 90, 88, 92, 78],
    "Bob": [70, 65, 72, 68, 75],
    "Charlie": [95, 92, 90, 96, 94],
    "David": [60, 58, 64, 62, 55],
    "Eve": [80, 82, 84, 85, 81]
}

averages = {name: sum(marks)/len(marks) for name, marks in students.items()}

# Finding max and min
max_student = max(averages, key=averages.get)
min_student = min(averages, key=averages.get)

print(f"Student with max average: {max_student} -> {averages[max_student]:.2f}")
print(f"Student with min average: {min_student} -> {averages[min_student]:.2f}")